[submodule "5 - Color Clock (JavaScript)/js-color-clock"]
	path = 5 - Color Clock (JavaScript)/js-color-clock
	url = git@github.com:txcsmad/js-color-clock.git
[submodule "2 - Wiki App (Node.js)/node-wiki"]
	path = 2 - Wiki App (Node.js)/node-wiki
	url = git@github.com:txcsmad/node-wiki.git
